/* Ignore this stylesheet*/

p {
    background:#f5f5f5;
    font-family:sans-serif;
    font-size:85%;
    line-height:2em;
    font-weight: bold;
    color:#333;
    padding:1em;
    min-height:120px;
}


